<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">
	<description>
      Servlet and JSP Examples.
    </description>

	<display-name>Servlet and JSP Examples</display-name>

	<servlet>
		<servlet-name>chatLogin</servlet-name>
		<servlet-class>websocket.chat.ChatLogin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>chatLogin</servlet-name>
		<url-pattern>/websocket/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>problemDetail</servlet-name>
		<servlet-class>websocket.chat.ProblemDetailServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>problemDetail</servlet-name>
		<url-pattern>/websocket/problemDetail</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>chatFilter</filter-name>
		<filter-class>websocket.chat.ChatFilter</filter-class>
	</filter>

	<listener>
		<listener-class>websocket.chat.ChatListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>