<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">

	<description>Chat App</description>
	<display-name>Chat App</display-name>

	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>classpath*:/chat/app/config/spring-config.xml</param-value>
	</context-param>

	<listener>
   		<listener-class>
        	org.springframework.web.context.ContextLoaderListener
   		</listener-class>
	</listener> 

	<servlet>
		<servlet-name>chatLogin</servlet-name>
		<servlet-class>chat.app.websocket.ChatLogin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>chatLogin</servlet-name>
		<url-pattern>/websocket/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>chatIncident</servlet-name>
		<servlet-class>chat.app.websocket.ChatIncidentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>chatIncident</servlet-name>
		<url-pattern>/websocket/chatIncident</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ajaxServlet</servlet-name>
		<servlet-class>chat.app.websocket.AjaxServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ajaxServlet</servlet-name>
		<url-pattern>/websocket/ajaxServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>chatFilter</filter-name>
		<filter-class>chat.app.websocket.ChatFilter</filter-class>
	</filter>

	<listener>
		<listener-class>chat.app.websocket.ChatListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>